#map {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
}

.with-out-card__wrapper {
    width: 350px;
    h1 {
        margin-bottom: 30px;
    }
    div {
        text-align: center;
    }
}

.popup-taxi, .with-out-card__wrapper {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    top: 150px;
    left: 130px;
    min-width: 300px;

    & form {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;

        & .from {
            margin-bottom: 30px;
        }

        & .to {
            margin-bottom: 30px;
        }
    }

    & .btn {
        text-align: center;
        background-color: rgb(153, 153, 153);
        transition: all .4s;
        &:hover {
            background-color: rgb(240, 159, 9);
            color: #fff;
            & button {
                color: #fff;
            }
        }
        button {
            background-color: transparent;
            border: none;
            color: rgb(61, 52, 52);
            cursor: pointer;
            outline: none;
        }
    }

}
